@media (prefers-reduced-motion){
    /*left to right*/
    .hidden_left_right{
      opacity: 0;
      filter: blur(5px);
      transform: translate(-100%);
      transition: all 1s;
    }
    .show{
        opacity: 1;
        filter: blur(0);
        transform: translate(0);
    }
    /*down to up*/
    .hidden_down_up{
        opacity: 0;
        filter: blur(5px);
        transform: translateY(100%);
        transition: all 0.7s;
    }

    .show2{
        opacity: 1;
        filter: blur(0);
        transform: translate(0);
    }

    /*right to left*/
    .hidden_right_left {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(100%);
        transition: all 0.7s;
    }
    
    .show3 {
        opacity: 1; /* Make the element fully visible */
        filter: blur(0); /* Remove blur effect */
        transform: translate(0); /* Reset vertical position to 0 */
    }

}